aplcore
*.csv.*
*.mpg
*.mov
*.ogv
*.dcf
*.xyz
LAMMPS/*
Maybes/*
JSON_APL/*
sessions.dcf
Jupyter/.ipynb_checkpoints/*
Dumps/
APLPhys/RunStyle.aplo
APLPhys/Thermostat.aplf
APLPhys/currentscript.aplf
APLPhys/aplscript.aplf
Isolate/isolate.dws
APLPhys/ComputeForces.aplf
Jupyter/Python.ipynb
Devf/NaClDissolve.dws
Devf/ParaView/NaCl_Test.pvsm
Devf/ParaView/NaCl_Test2.pvsm
