@font-face{font-family:'APL333';src:local('APL333'),url(Assets/APL333.ttf)}
@font-face{font-family:'APL385 Unicode';src:local('APL385 Unicode'),url(Assets/APL385.ttf)}
*{
  font-family: 'APL385 Unicode';
  color: white !important;
  background: rgba(1,1,1,0.9);
}
html {
  overflow: hidden;
}
#tabs {
  width: 100vw;
}
.ctrlpanel {
  display: block;
  position: fixed;
  width: 30vw;
}
.ctrlpanel > h4 {
  margin-left: 7em;
}
.ctrlpanel > p {
  margin-left: 1em;
}
.ctrlform > textarea {
  display: block;
  margin: 1em;
  width: 23em;
  margin-left: 1.5em;
  height: 25em;
}
.ctrlform > button {
  margin-left: 1.6em;
  font-size: 0.95em;
}
#ctrltabs > input[type="radio"] + label {
  border-bottom: 0.25em solid white !important;
}
#aplphys {
  width:  28vw;
  height: 45vh;
  border: none;
}
#viewport {
  display: inline-block;
  background: rgba(0.2, 0.2, 0.2, 0.1);
  position: absolute!important;
  border: outset;
  right: 3.5vw;
  top: 5vh;
  width: 60vw;
  height: 40vw;
}