@font-face{font-family:'APL333';src:local('APL333'),url(Assets/APL333.ttf)}
@font-face{font-family:'APL385 Unicode';src:local('APL385 Unicode'),url(Assets/APL385.ttf)}
*{
  font-family: 'APL385 Unicode';
  color: white;
  background: rgba(1,1,1,0.9);
}
/*body.w {
  filter:invert(0);
  background: rgba(0,0,0,0.1);
}*/
.ctrlpanel {
  display: block;
  position: fixed;
  width: 30vw;
}
.ctrlform > textarea {
  /*background: black;*/

  display: block;
  margin: 1em;
  width: 85%;
  margin-left: 5%;
  height: 20em;
}
.ctrlform > button {
  margin-left: 3em;
}
#tabs {
  width: 100vw;
}
#viewport {
  display: inline-block;
  background: rgba(1,1,1,0.1);
  position: absolute!important;
  border: outset;
  right: 3.5vw;
  top: 5vh;
  width: 60vw;
  height: 50vw;
}
.collapsebtn {
  margin-left: 40%; 
}
b {
  height:40px;
  width:40px;
  border-radius:50%;
  background:radial-gradient(circle at 40% 30%, rgba(127,255,255,1) 10%,rgba(0,255,255,0.9) 30%,transparent 70%);
  position:absolute;
  display:block;
  z-index: -1;
}
/*.viewframe {
  height: 100vh;
}*/